.map_lvp {
  margin-top: 4px;
}

.land_act {
  width: 100%;
  position: relative;
  height: 100%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.justify-center {
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
}

.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

@media (min-width: 768px) {
  .md-88 {
    margin: 8px;
  }
}

.m-8 {
  margin: 8px;
}

.border {
  border-width: 1px;
}

.rounded {
  border-radius: 4px;
}

.border-gray-3 {
  border-color: #3a3f50;
}

.bg-gray-4 {
  background-color: #282b39;
}

@media (min-width: 280px) {
  .rv_lupm {
    width: 20px;
    height: 262px;
  }
  .rv_lupm {
    width: 90px;
    height: 76px;
  }
}

.py-16 {
  padding-top: 8px;
  padding-bottom: 5px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.justify-between {
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.items-center {
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.text-12 {
  font-size: 12px;
}

.border {
  border-width: 1px;
}

.rounded {
  border-radius: 4px;
}

.border-transparent {
  border-color: transparent;
}

.ml-4 {
  margin-left: 4px;
}

.w-auto {
  width: auto;
}

.text-gray-2 {
  color: #6b7185;
}

.text-right {
  text-align: right;
}

.mt-4 {
  margin-top: 4px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .md_text-20 {
    font-size: 20px;
  }
}

.visible {
  visibility: visible;
}

.text-16 {
  font-size: 16px;
}

.font-medium {
  font-weight: 500;
}

.text-gray-1 {
  color: #a1a6b6;
}

.leading-20 {
  line-height: 20px;
}

.text-14 {
  font-size: 14px;
}

@media (min-width: 280px) {
  .rv_lupm .chemvv {
    width: 218px;
  }
}

.rv_lupm .chemvv {
  width: 100%;
}

.mr-4 {
  margin-right: 20px!important;
}

.sub-content[mapdt] {
    padding: 2px 0;
}

.landst[mapdt] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
}

.itemdt[mapdt] {
    width: 50%;
    margin: 4px 0;
}

.listmp {
    color: #6a748e;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
}

.listmp .icon {
    width: 65px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}