@media screen and (max-width:960px) {
  .grid-item[mark_nft] {
    width: 200px;
    margin: 6px;
    border-radius: 12px
  }
  .grid-item[mark_nft]:before {
    border-radius: 12px
  }
  .layout[scrowmar] {
    padding: 0 18px 18px
  }
  .market1[hawk_] {
    position: absolute;
    z-index: 1;
    background: #181818;
    width: 100%;
    left: 0;
    height: 100%
  }
  .market1.filt1[hawk_] {
    display: none
  }
  .market1[hawk_] {
    width: 100%;
    border-right: 0 none
  }
  .type-dm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-wm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-mm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-im[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-fm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-pm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-lm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-em[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-dkm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-fym[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
  .type-gm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
    width: 32%;
  }
}

@media screen and (max-width:863px) {
  .grid-item[mark_nft] {
    width: 230px;
  }
  .type-dm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-wm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-mm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
    width: 32%;
  }
  .type-im[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-fm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-pm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-lm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-em[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-dkm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-fym[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-gm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
}

@media screen and (max-width:768px) {
  .grid-item[mark_nft] {
    width: 215px;
  }
  .type-dm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-wm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-mm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-im[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-fm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-pm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-lm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-em[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-dkm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-fym[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
  .type-gm[land-f1] {
    font-size: 13px;
    margin-left: 75px;
  }
}

@media screen and (max-width:730px) {
  .text_st[market_vp] {
    font-size: 14px;
  }
  .tot[market_vp] {
    font-size: 20px;
  }
  .buht[market_vp] {
    padding-bottom: 5px;
  }
  .select[market_vp] {
    font-size: 15px;
    padding: 1px 4px;
  }
  .select option[market_vp] {
    font-size: 15px;
  }
}

@media screen and (max-width:700px) {
  .layout[scrowmar] {
    max-height: calc(100vh - 95px);
  }
  .mark_shop {
    flex-direction: column;
    padding-top: 0.8rem;
    overflow: unset;
  }
  .r_tilt {
    margin-bottom: 0.5rem;
  }
  .flex_mk {
    margin-left: 0;
  }
  .center_mk {
    margin-right: 0;
  }
  .len1 {
    margin-right: 1.2rem;
  }
  .ulti {
    margin-right: 0;
  }
  .cou_pla {
    margin-top: 0.6rem;
  }
}

@media screen and (max-width:651px) {
  .grid-item[mark_nft] {
    width: 230px;
  }
  .type-dm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-wm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-mm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-im[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-fm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-pm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-lm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-em[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-dkm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-fym[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
  .type-gm[land-f1] {
    font-size: 13px;
    margin-left: 80px;
  }
}

@media screen and (max-width:580px) {
  .button_vp.wallet3 {
    margin-left: 0;
  }
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 170px;
  }
  .layout[scrowmar] {
    max-height: calc(100vh - 165px);
  }
}

@media screen and (max-width:555px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 160px;
  }
}

@media screen and (max-width:530px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 140px;
  }
  .grid-item[mark_nft] {
    width: 205px;
  }
  .type-dm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-wm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-mm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-im[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-fm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-pm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-lm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-em[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-dkm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-fym[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
  .type-gm[land-f1] {
    font-size: 12px;
    margin-left: 70px;
  }
}

@media screen and (max-width:490px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 125px;
  }
}

@media screen and (max-width:450px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 112px;
  }
}

@media screen and (max-width:440px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 105px;
  }
  .grid-item[mark_nft] {
    width: 260px;
  }
  .type-dm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-wm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-mm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-im[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-fm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-pm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-lm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-em[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-dkm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-fym[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
  .type-gm[land-f1] {
    font-size: 13px;
    margin-left: 95px;
    width: 28%;
  }
}

@media screen and (max-width:420px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 97px;
  }
}

@media screen and (max-width:390px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 82px;
  }
}

@media screen and (max-width:375px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 70px;
  }
}

@media screen and (max-width:360px) {
  .layout[scrowmar] {
    max-height: calc(100vh - 150px);
  }
  .mark_shop {
    flex-direction: column;
    overflow: hidden;
  }
  .grid-item[mark_nft] {
    width: 240px;
  }
  .text_st[market_vp] {
    font-size: 12px;
  }
  .tot[market_vp] {
    font-size: 16px;
  }
  .r_tilt {
    margin-bottom: 0.75rem;
  }
  .mark_shop {
    padding-top: 0.8rem;
  }
  .flex_mk {
    margin-left: 0;
  }
  .center_mk {
    margin-right: 0;
  }
  .cou_pla {
    margin-top: 0.3rem;
  }
  .select[market_vp] {
    font-size: 12px;
    padding: 1px 2px;
  }
  .select option[market_vp] {
    font-size: 12px;
  }
  .buht[market_vp] {
    padding-bottom: 5px;
  }
  .filmet .quin_pe:first-child {
    margin-bottom: 35px;
  }
  .type-dm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-wm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-mm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-im[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-fm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-pm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-lm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-em[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-dkm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-fym[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .type-gm[land-f1] {
    font-size: 12px;
    margin-left: 85px;
  }
  .data__vp-owner {
    font-size: 10px;
  }
  .token_market {
    height: 20px;
  }
  .data__vp-price {
    font-size: 20px;
  }
  .data__vp-info {
    font-size: 10px;
  }
  .len1 {
    margin-right: 0.9rem;
  }
  .len2 {
    width: 1.2rem;
  }
  .wesg {
    height: 1.2rem;
  }
  .ulti {
    margin-right: 0;
  }
}

@media screen and (max-width:320px) {
  .layout-1 .header-widget-responsive .menu-icon-responsive {
    margin-right: 52px;
  }
}